.header_section {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-weight: bold;
	font-size: 20px;
	color: #fff;

	border-style: solid;
	border-width: 3px 0 0 0;

	margin: 3% auto 3% auto;
	padding: 1%;
}

.header_section a:visited {
	color: #fff;
}

.header_section .logo {
	display: flex;
}

.header_section .nav_elements {
	display: flex;

	gap: 15%;

	align-items: center;
}

.nav_elements {
	display: inline;
	width: fit-content;
	word-break: normal;
}
