.shop_page {
	color: white;
}
.shop_section {
	display: flex;
	margin: 0;
}
.part_card {
	display: flex;
	margin: 0 5% 5% 2%;
	width: 100px;
	height: 200px;
	flex-direction: column;
}

.shop_type {
	font-weight: bold;
	font-size: 36px;

	margin-bottom: 3%;
}
