.footer_section {
	display: flex;
	flex-direction: column;
	margin: 0 auto 5% auto;
	padding: 0;
}

.footer_section .logo_text {
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

.footer_section a:visited {
	color: #777;
}

.upper_footer {
	display: flex;
	align-self: center;
	width: 75%;
	padding: 0.5%;
	justify-content: center;
}

.upper_footer ul {
	padding: 0px 10px;
	list-style-type: none;
}

.upper_footer li {
	margin: 0 0 15px 0;
}

.upper_footer .logo {
	display: flex;
	align-items: center;
	margin-right: 5%;
}

.shop_section {
	margin: 0 5%;
}

.shop_section .logo_text {
	margin-bottom: 25%;
}

.shop_section ul {
	padding-top: 0px;

	font-weight: bold;
	font-size: 16px;
	color: #777;
}

.reachus_section {
	margin: 0 5%;
}

.reachus_section .logo_text {
	margin-bottom: 25%;
}

.reachus_section ul {
	padding-top: 0px;

	font-weight: bold;
	font-size: 16px;
	color: #777;
}

.lower_footer {
	display: flex;
	justify-content: space-between;
	margin: 4% 0 0 0;

	border-style: solid;
	border-width: 3px 0 3px 0;
	padding: 1%;

	font-weight: bold;
	color: #777;
}
