* {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	/*background-color: #1f1e1e;*/
	margin: 0;
	padding: 0;
}

body {
	background-color: #1f1e1e;
}

.container-1 {
	width: 80%;
	margin: 10px auto;
}

.hero {
	overflow: hidden;
	position: relative;
}

.hero video {
	min-width: 90%;
	min-height: 120%;
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translateX(-100%) translateY(-60%);
	z-index: -1;
}

.hero .hero_content {
	z-index: 1;
}

.categories {
	margin: 5% 0 3% 0;
}

.categories p {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

.video {
	border-radius: 25px;
}
.vid_wrapper {
	width: 60%;

	border-radius: 25px;
}

/*
.container-1 div {
	border: 1px #ccc solid;
}
*/
